* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  display: block;
  width: 100%;
  height: auto; }

header, section {
  margin: 0 0 150px 0; }

.wrapper {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; }

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }
  .nav__logo {
    max-width: 110px; }

.logo-link {
  max-width: 25%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%; }

.menu {
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 75%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 75%;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%; }
  .menu__item:not(:last-child) {
    margin-right: 30px; }
  .menu__link {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px; }

.main__img {
  width: 40%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1; }

.flower1 {
  background-image: url(../img/flower1.png);
  background-repeat: no-repeat;
  width: 412px;
  height: 533px;
  position: absolute;
  left: -172px;
  z-index: -1; }

.greeting {
  max-width: 547px; }
  .greeting__heading {
    font-size: 60px;
    margin-bottom: 47px; }
  .greeting__text {
    margin-bottom: 55px;
    line-height: 27px; }

.heading__sub {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  color: #ff817e;
  margin-bottom: 40px;
  line-height: 72px;
  letter-spacing: 1.5px; }
