*
    padding: 0
    margin: 0
    box-sizing: border-box

body
    color: #6c6c6f
    background-color: #fff
    font-family: 'Roboto', sans-serif
    font-size: 15px
    line-height: 27px

img
    display: block
    width: 100%
    height: auto

ul
    margin: 0
    padding: 0
    list-style: none

a
    text-decoration: none
    color: #263a41

button
    padding: 0
    border: none
    cursor: pointer

h1, h2, h3, h4, h5, h6
    font-family: 'Rufina', serif
    font-weight: 700
    color: #1e2528

section
    display: block
    position: relative
    padding: 35px 0
    width: 100%

footer
    background-color: #fff9f8
    padding: 50px 0
    text-align: center

.btn
    display: inline-block
    // background-color: #ff817e
    background-color: #30383b
    padding: 20px 15px
    font-size: 16px
    line-height: 0.8
    text-transform: uppercase
    color: #fff
    min-width: 170px
    text-align: center
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
    &__active
        background-color: #ff817e
    &:hover
        background-color: #ff817e
        color: white

.circle-btn
    border-radius: 25px

.wrapper
    max-width: 1140px
    width: 100%
    margin: 0 auto
    padding: 0 15px

.menu
    display: flex
    align-items: flex-end
    &__logo
        flex: 0 0 25%
        max-width: 25%
    &__primary ul
        display: flex
    &__item a
        color: #263a41
        text-transform: uppercase
        line-height: 45px
        padding: 0 20px
        font-size: 14px
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
        &:hover
            color: #ff817e

.logo__link
    display: block
    max-width: 109px

.main-bg
    width: 43.4%
    position: absolute
    top: 0
    right: 0
    z-index: -1

.section-greeting
    background: url(../img/leaf.png) no-repeat left center / 12.5%
    padding: 5% 0 12% 0

.greeting
    max-width: 50%
    &__subheader
        color: #ff817e
        font-size: 15px
        line-height: 72px
        letter-spacing: 1.5px
        text-transform: uppercase
    &__header
        font-size: 60px
        line-height: 75px
        margin-bottom: 25px
    &__text
        margin-bottom: 50px
        color: #555555
        line-height: 27px
        font-size: 15px

.cta__btn
    margin-right: 55px
    background-color: #ff817e

.section-about
    text-align: center

.flower2
    position: absolute
    left: 16%
    top: 0
    max-width: 160px

.flower3
    position: absolute
    right: 135px
    top: 50%
    max-width: 88px

.section-heading
    max-width: 83%
    margin: 0 auto 45px
    text-align: center
    & img
        max-width: 84px
        margin: 0 auto 20px
    &__sub
        color: #888888
        font-size: 20px
        font-weight: 400
        line-height: 54px
        text-transform: uppercase
        letter-spacing: 2px
        margin-bottom: 15px
    &__title
        color: #1e2528
        font-size: 42px
        font-weight: 700
        line-height: 55px
        margin-bottom: 15px
    & p
        font-size: 15px
        line-height: 28px
        color: #888
.row
    display: flex
    flex-wrap: wrap
    margin-right: -15px
    margin-left: -15px
    &__item
        flex: 0 0 33%
        max-width: 33%
        padding: 0 15px
.article
    padding: 20px
    border: 1px solid #e3e6ea
    box-shadow: 0 15px 40px rgba(4, 10, 50, 0.1)
    background-color: #ffffff
    text-align: center
    margin-bottom: 30px
    & img
        margin-bottom: 15px
    &__heading
        margin-bottom: 10px
    &__subtitle
        color: #888
        font-size: 12px
        line-height: 30px
        text-transform: uppercase
        margin-bottom: 10px
    &__title
        font-size: 22px
        font-weight: 700
        line-height: 32px
        color: #30383b
    & p
        color: #888888
        font-size: 14px
        font-weight: 300
        line-height: 27px
        margin-bottom: 15px
    &__btn
        padding: 15px
        font-size: 16px
    // &:not(:last-child)
    //     margin-right: 15px

.section-testimonial
     background-color: #fff9f8

.owl-item
    &__inner
        width: 85%
        margin: 0 auto
        & img
            max-width: 59px
            margin: 0 auto 25px
        & p
            text-align: center
            font-size: 18px
            line-height: 35px
            margin-bottom: 25px
    &__info
        & img
            max-width: 76px
        & p
            font-size: 22px
            font-weight: 400
            line-height: 35px
            color: #263a41

.member
    position: relative
    // &:not(:last-child)
    //     margin-right: 15px
    & img
        z-index: -1
    &-details
        max-width: calc(100% - 60px)
        margin: -50px auto 0
        padding: 30px
        text-align: center
        box-shadow: 0 15px 30px rgba(48, 56, 59, 0.1)
        background-color: #ffffff
        position: relative
        z-index: 1
        &__title
            font-size: 22px
            line-height: 27px
            margin-bottom: 5px
        &__subtitle
            font-size: 15px
            line-height: 27px

.contact__item
    max-width: 100%
    &:first-child
        flex-basis: 40%
    &:nth-child(2)
        flex-basis: 55%

.contact-form, .addresses-list
    display: flex
    flex-direction: column

.addresses-list__item
    display: flex
    align-items: center
    margin-bottom: 25px
    & img
        max-width: 50px
        margin-right: 15px

.contact-form
    width: 85%
    margin: 0 auto
    &__input, &__area
        border: 1px solid #e3e6ea
        background-color: #ffffff
        padding-left: 10px
        padding-top: 15px
    &__input
        margin-bottom: 10px
        padding: 15px 10px
    &__area
        margin-bottom: 15px
        // padding-top: 16px
        padding-bottom: 50px
    &__btn
        width: 30%
        padding: 15px 5px
        font-size: 13px

.ftr-menu
    flex-direction: column
    align-items: center
    margin-bottom: 25px
    &__logo
        margin-bottom: 25px

@media screen and (max-width: 1200px)
    .flower3
        display: none
    .wrapper
        max-width: 960px
    .greeting__header
        font-size: 49px
        line-height: 60px
@media screen and (max-width: 991px)
    .wrapper
        max-width: 720px
    .greeting
        max-width: 75%
@media screen and (max-width: 768px)
    .menu__primary, .main-bg, .flower2
        display: none
    .wrapper
        max-width: 540px
    .greeting
        max-width: 100%
    .section-heading
        max-width: 100%
        &__title
            font-size: 33px
    .row__item
        max-width: 100%
        flex: 0 0 100%
        margin-bottom: 30px
    .social__item
        margin-bottom: 0
    .contact__row
        flex-direction: column
    .addresses-list__item
        justify-content: center
@media screen and (max-width: 540px)
    h1, h2, h3, h4, h5, h6
        text-align: center
    header
        padding-top: 10px
    .wrapper
        max-width: 480px
    .menu__logo
        margin: 0 auto
        flex: 0 0 100%
    .section-greeting
        background: none
        padding: 2% 0 12% 0
    .section-heading
        margin: 0 auto 20px
    .greeting
        text-align: center
        &__header
            font-size: 42px
            margin-bottom: 10px
        &__cta
            display: flex
            flex-direction: column
            max-width: 50%
            margin: 0 auto
        &__text
            margin-bottom: 30px
    .cta__btn
        margin: 0 0 20px 0
    .owl-item
        &__inner
            width: 100%
            & img
                max-width: 36px
        &__info img
            max-width: 59px
    .contact-form
        width: 100%
        &__btn
            margin: 0 auto