// // .header__nav
// //     margin-top: 20px

// .nav
//     display: flex
//     align-items: flex-end
//     // justify-content: space-around
//     &__logo
//         max-width: 110px

// .logo-link
//     max-width: 25%
//     flex: 0 0 25%

// .menu
//     list-style-type: none
//     display: flex
//     max-width: 75%
//     flex: 0 0 75%
//     &__item:not(:last-child)
//         margin-right: 30px
//     &__link
//         color: black
//         text-decoration: none
//         text-transform: uppercase
//         font-size: 14px


// .main__img
//     width: 40%
//     position: absolute
//     top: 0
//     right: 0
//     z-index: -1

// .greeting
//     max-width: 547px
//     &__heading
//         font-size: 60px
//         margin-bottom: 47px
//     &__text
//         margin-bottom: 55px
//         line-height: 27px
// .heading
//     &__sub
//         display: block
//         font-size: 14px
//         text-transform: uppercase
//         color: #ff817e
//         margin-bottom: 40px
//         line-height: 72px
//         letter-spacing: 1.5px

*
    padding: 0
    margin: 0
    box-sizing: border-box

body
    color: #6c6c6f
    background-color: #fff
    font-family: 'Roboto', sans-serif
    font-size: 15px
    line-height: 27px

img
    display: block
    width: 100%
    height: auto

ul
    margin: 0
    padding: 0
    list-style: none

a
    text-decoration: none
    color: #263a41

button
    padding: 0
    border: none
    cursor: pointer

h1, h2, h3, h4, h5, h6
    font-family: 'Rufina', serif
    font-weight: 700
    color: #1e2528

section
    display: block
    position: relative
    padding: 50px 0
    width: 100%

header
    padding: 0 0 50px 0

.btn
    display: inline-block
    background-color: #ff817e
    padding: 20px 15px
    font-size: 15px
    line-height: 0.8
    text-transform: uppercase
    color: #fff
    min-width: 170px
    text-align: center

.wrapper
    max-width: 1140px
    width: 100%
    margin: 0 auto
    padding: 0 15px

.menu
    display: flex
    align-items: flex-end
    &__logo
        flex: 0 0 25%
        max-width: 25%
    &__primary ul
        display: flex
    &__item a
        color: #263a41
        text-transform: uppercase
        line-height: 45px
        padding: 0 20px
        font-size: 14px

.logo__link
    display: block
    max-width: 109px

// .flower1
//     background-image: url(../img/flower1.png)
//     background-repeat: no-repeat
//     width: 412px
//     height: 533px
//     position: absolute
//     left: -172px
//     z-index: -1

.main-bg
    width: 40%
    position: absolute
    top: 0
    right: 0
    z-index: -1

.section-greeting
    background: url(../img/leaf.png) no-repeat left center / 12.5%

.greeting
    max-width: 50%
    &__subheader
        color: #ff817e
        font-size: 15px
        line-height: 72px
        text-transform: uppercase
    &__header
        font-size: 60px
        line-height: 75px
        margin-bottom: 25px
    &__text
        margin-bottom: 30px
        color: #555555
        line-height: 27px
        font-size: 15px

.cta__btn
    margin-right: 25px

